.jwt {
    font-family: monospace;
}

.header {
    color: var(--red);
    transition: background .2s ease-in-out;
}
.header:hover{
    background: var(--red-transparent);
}

.payload {
    color: var(--purple);
    transition: background .2s ease-in-out;
}
.payload:hover {
    background: var(--purple-transparent);
}

.signature {
    color: var(--blue);
    transition: background .2s ease-in-out;
}
.signature:hover {
    background: var(--blue-transparent);
}